/* Existing styles */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./photo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(4px);
    z-index: -2;
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black overlay */
    z-index: -1;
}

.container {
    background-color: rgba(95, 119, 122, 0.4); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 50px auto;
    color: white;
    position: relative;
    z-index: 1;
    padding: 6em;
}

.button {
    padding: 10px;
    border-radius: 10px;
}

.button:hover {
    transition: all;
    transition-duration: 400ms;
    background-color: lightslategrey;
}

/* New Loader Styles */

/* Loader container style */
.loader-container {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Loader animation style */
.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    margin-top: 17em;
}

.loader::before,
.loader::after {    
    content:"";
    grid-area: 1/1;
    --c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
    background: 
        var(--c) 50%  0, 
        var(--c) 50%  100%, 
        var(--c) 100% 50%, 
        var(--c) 0    50%;
    background-size: 12px 12px;
    animation: l12 1s infinite;
}

.loader::before {
    margin: 4px;
    filter: hue-rotate(45deg);
    background-size: 8px 8px;
    animation-timing-function: linear;
}

@keyframes l12 { 
    100% { transform: rotate(.5turn); }
}
